
@font-face {
	font-family: 'Passero One';
	src: url("/public/assets/fonts/PasseroOne.ttf") format('truetype');
}

@font-face {
	font-family: 'Intro';
	src: url("/public/assets/fonts/Intro.otf") format('opentype');
}
